In [1]:
#fatiamento de listas

lista1 = [1,2,3,4,5,6,7,8,9,10]
lista2 = lista1[2:6]

print(lista2)

[3, 4, 5, 6]

In [2]:
print(lista1[9])

10

In [4]:
lista3 = lista1[:5]
lista3

[1, 2, 3, 4, 5]

In [6]:
lista4 = lista1[1:8:2]
lista4

[2, 4, 6, 8]

In [7]:
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)
print(lista[0:10])
print(lista[:10])
print(lista[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
lista5 = lista[::-1]
print(lista5)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
nome = "Jhonatan"
print(nome[::-1])

natanohJ

In [10]:
print(nome[:6])

Jhonat

In [13]:
for i in range(len(nome)+1):
    print(nome[i:])

Jhonatan
honatan
onatan
natan
atan
tan
an
n

In [25]:
lista = [1,2,3,4,5,6,7,8,9,10]
elemento = 6

if elemento in lista:
    print("O elemento", elemento, "está na lista!")
else:
    print("O elemento", elemento, "não está na lista!")

O elemento 6 está na lista!

In [26]:
elemento not in lista

False

In [33]:
nomemeu = "Jhonatan Herman Eichemberger"
nome = nomemeu.split(';')
print(nome)

['Jhonatan Herman Eichemberger']

In [29]:
for i in range(len(nomemeu)+1):
    print(nomemeu[:i])

J
Jh
Jho
Jhon
Jhona
Jhonat
Jhonata
Jhonatan
Jhonatan
Jhonatan H
Jhonatan He
Jhonatan Her
Jhonatan Herm
Jhonatan Herma
Jhonatan Herman
Jhonatan Herman
Jhonatan Herman E
Jhonatan Herman Ei
Jhonatan Herman Eic
Jhonatan Herman Eich
Jhonatan Herman Eiche
Jhonatan Herman Eichem
Jhonatan Herman Eichemb
Jhonatan Herman Eichembe
Jhonatan Herman Eichember
Jhonatan Herman Eichemberg
Jhonatan Herman Eichemberge
Jhonatan Herman Eichemberger